.top-rated-container {
  /* background-color: #252121; */
  background-image: url('https://img.freepik.com/premium-photo/spectacular-scene-blue-orange-ink-move-around-digital-art-3d-illustration_31965-49724.jpg');
  background-size: contain;
  min-height: 100vh;
  padding-top: 36px;
}

@media screen and (min-width: 768px) {
  .top-rated-container {
    padding-top: 96px;
  }
}

.top-rated-movie-container {
  display: flex;
  justify-content: center;
}

.top-rated-movie-list {
  padding-left: 0;
  width: 90%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 64px;
}
